<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpyfallUBI"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SpyfallUBI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LobbyActivity"
            android:label="@string/Lobby">
        </activity>
        <activity
            android:name=".WhoAreYouActivity"
            android:label="@string/WhoAreYou">
        </activity>
        <activity
            android:name=".WhoAreYouResultActivity"
            android:label="@string/WhoAreYou">
        </activity>
        <activity
            android:name=".ReadyActivity"
            android:label="@string/Ready">
        </activity>
        <activity
            android:name=".GameONActivity"
            android:label="@string/GameON">
        </activity>
        <activity
            android:name=".RevealSpyActivity"
            android:label="@string/RevealSPY">
        </activity>
        <activity
            android:name=".RevealLocationActivity"
            android:label="@string/RevealLocation">
        </activity>
        <activity
            android:name=".SpyEliminatedActivity"
            android:label="@string/SPYEliminated">
        </activity>
        <activity
            android:name=".NonSpiesWinActivity"
            android:label="@string/NONSPIESWin">
        </activity>
        <activity
            android:name=".SpiesWinActivity"
            android:label="@string/SPIESWin">
        </activity>
    </application>

</manifest>